<!DOCTYPE html>
<html>
  <head>
    <title>Gemino</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Overpass:300,400,600,700" rel="stylesheet">

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= javascript_pack_tag 'vue_pack', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'erb_pack', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if notice.present? %>
    <p class="notice"><%= notice %></p>
  <%end %>

  <body class="bg-shade-1 antialiased">
    <div data-behavior="vue">
      <%= yield %>
    </div>
  </body>
</html>
